@model RentalKendaraan_110.Models.Kendaraan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Kendaraan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdKendaraan" class="control-label"></label>
                <input asp-for="IdKendaraan" class="form-control" />
                <span asp-validation-for="IdKendaraan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamaKendaraan" class="control-label"></label>
                <input asp-for="NamaKendaraan" class="form-control" />
                <span asp-validation-for="NamaKendaraan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoPolisi" class="control-label"></label>
                <input asp-for="NoPolisi" class="form-control" />
                <span asp-validation-for="NoPolisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoStnk" class="control-label"></label>
                <input asp-for="NoStnk" class="form-control" />
                <span asp-validation-for="NoStnk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdJenisKendaraan" class="control-label"></label>
                <select asp-for="IdJenisKendaraan" class ="form-control" asp-items="ViewBag.IdJenisKendaraan"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ketersediaan" class="control-label"></label>
                <input asp-for="Ketersediaan" class="form-control" />
                <span asp-validation-for="Ketersediaan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
